<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/download">Download</a></li>
				<li><div class="dropdown">
					  <button class="dropbtn">Documentation</button>
					  <div class="dropdown-content">
					    <a href="/doc/quickstart">Quick Start</a>
					    <a href="/doc/connections">Connections</a>
					    <a href="/doc/configure">Configure</a>
					    <a href="/doc/sfactions">SF Actions</a>
					    <a href="/doc/workspaceactions">Workspace Actions</a>
					    <a href="/doc/options">Options</a>
					    <a href="/doc/help">Help</a>
					    <a href="/doc/releasehistory">Release History</a>
					  </div>
					</div></li>
	        		<li><a href="/license">License</a></li>
				<li><div class="dropdown">
					  <button class="dropbtn">FAQ</button>
					  <div class="dropdown-content">
					    <a href="/faq">FAQ</a>
					    <a href="/faq/installationwarning">Installaton Warning</a>
					    <a href="/faq/licensing">Licensing</a>
					    <a href="/faq/loggingintosalesforce">Logging Into Salesforce</a>
					    <a href="/faq/largedatasets">Large Data Sets</a>
					    <a href="/faq/standardvscustomfields">Standard vs Custom Fields</a>
					    <a href="/faq/insertingprofiles">Inserting Profiles</a>
					    <a href="/faq/systempermissions">System Permissions</a>
					    <a href="/faq/versions">Versions</a>
					    <a href="/faq/enhancements">Enhancements</a>
					  </div>
					</div></li>
				<li><a href="/SFTips">SF Tips</a></li>
				<li><div class="dropdown">
					  <button class="dropbtn">SF Tips</button>
					  <div class="dropdown-content">
					    <a href="/tips">SF Tips</a>
					    <a href="/tips/deploymentcomparison">Deployment Comparison</a>
					    <a href="/tips/continuousintegration">Continuous Integration</a>
					    <a href="/tips/chromeextensions">Chrome Extensions</a>
					    <a href="/tips/vscodeandcli">VS Code and CLI</a>
					  </div>
					</div></li>
				<li><a href="/aboutus">About Us</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
