<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/download">Download</a></li>
	        		<!-- <li><a href="/documentation">Documentation</a></li> -->
				<li><div class="dropdown">
					  <button class="dropbtn">Documentation</button>
					  <div class="dropdown-content">
					    <a href="/quickstart">Quick Start</a>
					    <a href="/connections">Connections</a>
					    <a href="/configure">Configure</a>
					    <a href="/sfactions">SF Actions</a>
					    <a href="/workspaceactions">Workspace Actions</a>
					    <a href="/options">Options</a>
					    <a href="/help">Help</a>
					    <a href="/releasehistory">Release History</a>
					  </div>
					</div></li>
	        		<li><a href="/license">License</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/SFTips">SF Tips</a></li>
				<li><a href="/aboutus">About Us</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
